---
name: secrets

on:
  workflow_call:
    secrets:
      password:
        description: 'A token passed from the caller workflow'
        required: false

jobs:
  test:
    environment: test
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ secrets.password }}" > secrets
      - run: cat secrets
